{% extends 'base.html' %}
{% load crispy_forms_tags %}
{% block content %}
<!--header START-->
<div class="container">
    <div class="jumbotron text-center">
        <h3>Log in to your account</h3>
        <p><a href="{% url 'accounts:register' %}"><small>Don't have an account? Register here</small></a> | <a
                href="#"><small>Stuck? Get Help</small></a></p>
    </div>
</div>
<!--header END-->
<section class="container text-center">
    <form method="post">
        {% csrf_token %}
        {{ form|crispy }}
        <button type="submit" class="btn btn-primary">Submit</button>
    </form>
</section>
{% endblock content %}