{% extends 'base.html' %}
{% load crispy_forms_tags %}
{% block content %}
<!--header START-->
<div class="container">
    <div class="jumbotron text-center">
        <h3>Welcome to our store, Register below</h3>
        <p><small>By filling in the form, you accepting our <button class="btn btn-outline-danger btn-sm"
                    data-toggle="modal" data-target="#termsModalScrollable">terms and conditions.</button></small>
        </p>
        <p><a href="{% url 'login' %}"><small>Already have an account? Log in</small></a> | <a href="#"><small>Contact
                    Us</small></a></p>

    </div>
</div>
<!--header END-->

<section class="container text-center">
    <form method="post">
        {% csrf_token %}
        {{ form|crispy }}
        <button type="submit" class="btn btn-primary">Submit</button>
    </form>
</section>
<!-- Terms Modal START-->
<!-- Modal -->
<div class="modal fade" id="termsModalScrollable" tabindex="-1" role="dialog"
    aria-labelledby="termsModalScrollableTitle" aria-hidden="true">
    <div class="modal-dialog modal-dialog-scrollable" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="termsModalScrollableTitle">Terms & Conditions Agreement</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <h4>Mohlala Online Store</h4>
                <h5>User Agreement</h5>
                <hr class="my-2">
                <ol>
                    <li>
                        <p>Curabitur aliquet quam id dui posuere blandit. Vestibulum ac diam sit amet quam vehicula
                            elementum sed sit amet dui. Proin eget tortor risus. Nulla porttitor accumsan tincidunt.

                            Vestibulum ac diam sit amet quam vehicula elementum sed sit amet dui. Proin eget tortor
                            risus. Quisque velit nisi, pretium ut lacinia in, elementum id enim. Curabitur non nulla sit
                            amet nisl tempus convallis quis ac lectus.

                            Donec sollicitudin molestie malesuada. Vestibulum ac diam sit amet quam vehicula elementum
                            sed sit amet dui. Donec sollicitudin molestie malesuada. Mauris blandit aliquet elit, eget
                            tincidunt nibh pulvinar a.

                            Nulla porttitor accumsan tincidunt. Proin eget tortor risus. Nulla porttitor accumsan
                            tincidunt. Nulla porttitor accumsan tincidunt.

                            Vivamus suscipit tortor eget felis porttitor volutpat. Vivamus magna justo, lacinia eget
                            consectetur sed, convallis at tellus. Nulla quis lorem ut libero malesuada feugiat. Cras
                            ultricies ligula sed magna dictum porta.</p>
                    </li>
                    <li>
                        <p>Curabitur aliquet quam id dui posuere blandit. Vestibulum ac diam sit amet quam vehicula
                            elementum sed sit amet dui. Proin eget tortor risus. Nulla porttitor accumsan tincidunt.

                            Vestibulum ac diam sit amet quam vehicula elementum sed sit amet dui. Proin eget tortor
                            risus. Quisque velit nisi, pretium ut lacinia in, elementum id enim. Curabitur non nulla sit
                            amet nisl tempus convallis quis ac lectus.

                            Donec sollicitudin molestie malesuada. Vestibulum ac diam sit amet quam vehicula elementum
                            sed sit amet dui. Donec sollicitudin molestie malesuada. Mauris blandit aliquet elit, eget
                            tincidunt nibh pulvinar a.

                            Nulla porttitor accumsan tincidunt. Proin eget tortor risus. Nulla porttitor accumsan
                            tincidunt. Nulla porttitor accumsan tincidunt.

                            Vivamus suscipit tortor eget felis porttitor volutpat. Vivamus magna justo, lacinia eget
                            consectetur sed, convallis at tellus. Nulla quis lorem ut libero malesuada feugiat. Cras
                            ultricies ligula sed magna dictum porta.</p>
                    </li>
                </ol>
                <hr class="my-2">
                <h4>Termination of Membership Agreement</h4>
                <p>The cancellation of this agreement must be solely the main member of the signed agreement to
                    proceed with the termination. Members terminating the agreement must acknowledge that they will
                    have to pay for that month the termination is made thereof.</p>



            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>
<!-- Terms Modal END-->
{% endblock content %}