<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    {% load static%}
    <link rel="stylesheet" href="{% static 'bootstrap/css/bootstrap.min.css' %}">
    <link rel="stylesheet" href="{% static 'css/style.css'%}">
    <link rel="stylesheet" href="{% static 'fontawesome-web/css/all.css'%}">
    {% block title%}
    <title>Mohlala Online</title>
    {% endblock title %}
</head>

<body>
    {% include 'navbar.html'%}
    {% block content %}{% endblock content%}
    {% block footer %}
    <footer>
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <p>Copyright &copy; Mohlala Online
                    
                    - Designed and developed by <a rel="nofollow" href="https://shegosthato.github.io/site" class="tm-text-link" target="_parent">Thato Mashego</a></p>
                    
                    
                    
                </div>
            </div>
        </div>
    </footer>
    {% endblock footer%}
    {% include 'bottom-nav.html'%}
    <script defer src="{% static 'bootstrap/js/jquery.min.js'%}"></script>
    <script defer src="{% static 'bootstrap/js/bootstrap.bundle.min.js'%}"></script>

</body>

</html>