<div class="container-sm-fluid" style="margin-top: 15%;">
    <ul class="nav nav-sm-fill flex-sm-row justify-content-around align-items-center mx-auto d-sm-flex d-lg-none fixed-bottom"
        id="bottom-nav" style="background-color: rgb(228, 217, 217); margin-bottom: 0.2%; height: 8vh;">
        <li class="nav-item"><a href="#" class="btn btn-secondary rounded-pill"><i class="fas fa-home"></i></a>
        </li>
        <li class="nav-item"><a href="#" class="btn btn-secondary rounded-pill"><i class="fas fa-search"></i></a>
        </li>
        <li class="nav-item"><a href="#" class="btn btn-secondary rounded-pill"><i class="fas fa-heart"></i></a>
        </li>
        <li class="nav-item dropdown">
            <a class="btn btn-secondary rounded-pill dropdown-toggle" data-toggle="dropdown" href="#" role="button"
                aria-haspopup="true" aria-expanded="false"><i class="fas fa-cog"></i></a>
            <div class="dropdown-menu">
                <i><a class="dropdown-item" href="#">Help</a>
                    <a class="dropdown-item" href="#">Another action</a>
                    <a class="dropdown-item" href="#">Something else here</a>
                    <div class="dropdown-divider"></div>
                    <a class="dropdown-item" href="#">Separated link</a>
            </div>
        </li>
    </ul>
</div>